.el-radio__label{
  color: rgb(221,221,221)!important;
}
.el-tabs__item{
  color: rgb(221,221,221)
}
.el-input__inner{
  background: rgb(69,69,69);
  color: rgb(219,219,219);
}
.el-form-item__label{
  color: rgb(221,221,221)
}